@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap");

// $font-family: "Helvetica Neue", arial, sans-serif;

$font-family: "Plus Jakarta Sans", sans-serif;

$default-border: 2px;
$default-border-radius: 2px;

$border-rounded-md: 4px;

$form-item-height: 44px;
$form-item-height-small: 30px;

$form-input-label-font-size: 12px;
$form-input-description-font-size: 12px;

$default-time-animation: 300ms;

$default-gap: 16px;
$default-padding: $default-gap;

$disabled-opacity: 0.5;
